{{ define "main" }}

<p>
<br>
«Freud said there’s three big blows to human egoism.<br><br>
The first was the discovery by Copernicus and Galileo that the Earth was not at the center of the cosmos.<br><br>
Second was Darwin’s finding that we’re not particularly different from the other animal species.<br><br>
Freud claimed that his was the third, that we’re not really in charge of our own individual lives.<br><br>
And this, I think, could be a fourth. We’re far from being the most intelligent or advanced creatures in the cosmos.»<br><br><br>

— Dr. John Mack<br><br>

<img src="images/paranoii.png" alt="paranoii" width="250" height="900">
</p>
<br/>

{{ end }}